html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.box-eye{
  position: relative;
}
.box-eye button{
  border: none;
  position: absolute;
}
.changePassword{
  position: absolute;
  top: 12px;
  left: 270px;
  color: rgb(51, 47, 47);
  cursor: pointer;
}

.content-sign-in{
  margin-top: 3rem;
}